@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #fff;
    color: #000;
    margin: 0;
!important;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
}

/*navigation*/

header {
    width: 100%;
    height: 85px;
    line-height: 85px;
}

.main-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(230, 238, 230, 0.24);
    position: fixed;
    width: 100%;

}

.logo {
    width: 250px;
    height: 65px;
    background: url("img/logo.svg");
    background-size: 100% 100%;
}


#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url("img/nav.png") center;
}

a:hover#menu-icon {
    border-radius: 4px 0 4px 4px;
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    line-height: 65px;

}

nav ul li {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 130%;
    padding: 0 15px;
    font-family: ,'Alegreya Sans', sans-serif;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    border: 2px solid #053178;
    border-radius: 10px;
    padding: 6px;
    background-color: #053178;
    color: white;
}


/*end of navigation*/

p {
    text-indent: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}



@media (max-width: 682px) {
    .logo {
        display: none;
    }

    .main-menu {
        width: 100% !important;
    }

    nav {
        font-size: 14px;
    }
}





.theme {
    height: calc(100vh - 70px);
    padding-top: 70px;
    background-image: url("img/layer1.png");
}

.list {
    height: calc(100vh - 70px);
    padding-top: 70px;
    background-color: #18a3fa;
}

.about-product-container {
    height: calc(100vh - 70px);
    padding-top: 70px;

}

.feature {
    height: calc(25vh - 17.5px);
}

.feature1 {
    background-color: #0a5994;
}

.feature2 {
    background-color: #fff;
}

.feature3 {
    background-color: #0a5994;
}

.feature4 {
    background-color: #fff;
}

.time-saving-container {
    height: calc(100vh - 70px);
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tile {
    width: 33.3vw;
}

.tile5 {
    background-color: #fff;
}

.tile6 {
    background-color: #afddf7;
}

.tile7 {
    background-color: #fff;
}

.about_us-container {
    height: calc(100vh - 70px);
    padding-top: 70px;
    background-color: #083772;
}

.contact-container {
    /* making footer visible in contact section*/
    height: calc(100vh - 60px);
    background-color: #2c7bb6;

}

.board {
    /*  IF NOT USED - DELETE
        IF NOT USED - DELETE
        IF NOT USED - DELETE
      */
}

footer {
    width: 100%;
    background-color: #0a5994;
}

.footer {
    min-height: 60px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
