.blok1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container11 {
    width: 15%;
    height: 15%;
    position: relative;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cube figure {
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    border: 2px solid #806547;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.cube .back {
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
    transform: translateZ(-100px);
    background: url("img/cardboard-wallpaper-template_1194-6785(2).jpg");
    background-size: auto 100%;
}

.cube .right {
    transform: rotateY(90deg) rotate(-90deg) translateZ(100px);
    background: url("img/cardboard-wallpaper-template_1194-6785(2).jpg");
    background-size: auto 100%;
}

.cube .left {
    -webkit-transform: rotateY(-90deg) rotate(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) rotate(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) rotate(-90deg) translateZ(100px);
    transform: rotateY(-90deg) rotate(-90deg) translateZ(100px);
    background: url("img/cardboard-wallpaper-template_1194-6785(2).jpg");
    background-size: auto 100%;
}

.cube .top {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(-100px);
    background: url("img/cardboard-wallpaper-template_1194-6785(2).jpg");
    background-size: auto 100%;
}

.cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) translateZ(100px);
    -o-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(-100px);
    background: url("img/cardboard-wallpaper-template_1194-6785(2).jpg");
    background-size: auto 100%;
}

.cube .logo_3d {
    background: url("img/logo(1)3D.png") no-repeat center;
    background-size: 100% 50%;
    transform: translateZ(60px);
    border: none;
}

.cube label {
    position: absolute;
    width: 196px;
    height: 196px;
    border: 2px solid #806547;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 auto;
    transform: translateZ(100px) rotate(90deg);
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

/*rotating vertical wings image*/
.cube .top-wing {
    transform: translateZ(100px) rotate(0deg);
}

.cube .bottom-wing {
    transform: translateZ(100px) rotate(0deg);
}

.open-wing-checkbox {
    display: none;
}

.right-wing {
    display: block;
    background: url("img/cardboard-wallpaper-template_1194-6785(1).jpg");
    cursor: pointer;
    z-index: 4;

}

.left-wing {
    display: block;
    background: url("img/cardboard-wallpaper-template_1194-6785(1).jpg");
    cursor: pointer;
    z-index: 3;
}

.top-wing {
    display: block;
    background: url("img/cardboard-wallpaper-template_1194-6785(1).jpg");
    cursor: pointer;
    z-index: 2;

}

.bottom-wing {
    display: block;
    background: url("img/cardboard-wallpaper-template_1194-6785(1).jpg");
    cursor: pointer;
    z-index: 1;
}
/*.wing{*/
    /*-webkit-transition: all .4s ease;*/
    /*-moz-transition: all .4s ease;*/
    /*-ms-transition: all .4s ease;*/
    /*-o-transition: all .4s ease;*/
    /*transition: all .4s ease;*/
/*}*/

.wing p {
    display: none;
}

.wing h4 {
    display: none;
}

.wing h1 {
    font-size: 18px;
    color: black;
    transform: translateX(60px) rotate(-90deg);
    line-height: normal;
    background-color: #fff;
}

.open-wing-checkbox:checked + .wing h1 {
    display: none;
}

.open-wing-checkbox:checked + .wing:hover p {
    display: block;
    font-size: 14px;
    color: black;
    line-height: normal;
    background: rgba(255, 255, 255, 0.7);
}

.open-wing-checkbox:checked + .wing:hover h4 {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    line-height: 1;
    margin: 0;
    background: rgba(255, 255, 255, 0.7);
}

.open-right-wing-checkbox:checked + .right-wing {
    transform: translateX(200px) translateZ(100px);
    background: url("img/happy-blue.jpg");
    background-size: auto 100%;
}

.open-left-wing-checkbox:checked + .left-wing {
    transform: translateX(-200px) translateZ(100px);
    background: url("img/search-blue.jpg");
    background-size: auto 100%;
}

.open-top-wing-checkbox:checked + .top-wing {
    transform: translateY(-200px) translateZ(100px);
    background: url("img/money-blue.jpg");
    background-size: auto 100%;
}

.open-bottom-wing-checkbox:checked + .bottom-wing {
    transform: translateY(200px) translateZ(100px);
    background: url("img/secure-blue.jpg");
    background-size: auto 100%;
}

.open-right-wing-checkbox:checked + .right-wing:hover {
    transform: translateX(206px) translateZ(100px) rotateY(-12deg) scale(1.06) translateY(2px);
}

.open-left-wing-checkbox:checked + .left-wing:hover {
    transform: translateX(-208px) translateZ(100px) rotateY(12deg) scale(1.06) translateY(2px);
}

.open-top-wing-checkbox:checked + .top-wing:hover {
    transform: translateZ(100px) rotateX(-8deg) translateY(-198px);
}

.open-bottom-wing-checkbox:checked + .bottom-wing:hover {
    transform: translateZ(100px) rotateX(8deg) translateY(196px);
}
