* {
    margin: 0;
}

.game-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 100vh;
    max-height: 700px;
    width: 580px;
    background: url('img/board-backround.png');
    position: absolute;
    display: flex;
    flex-direction: column;

}

.board {
    height: 560px;
    position: relative;
}

.character {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    left:255px;
}

.character-right {
    background: url('img/ludzik-z-workiem-prawo.png');
    background-size: cover;
}

.character-left {
    background: url('img/ludzik-z-workiem-lewo.png');
    background-size: cover;
}

.cardboard-box {
    height: 20px;
    width: 20px;
    background: url('img/pixel-cardboard-box.png');
    background-size: cover;
    position: absolute;
}
.bomb {
    height: 25px;
    width: 25px;
    background: url("img/bomb.png");
    background-size: cover;
    position: absolute;
}

.plane {
    background: url('img/plane2.png');
    height: 40px;
    width: 55px;
    position: absolute;
    top: 5px;
    right: 0;
}

.cloud {
    background: url('img/cloud1.png');
    position: absolute;
    height: 53px;
    width: 100px;
}

.clouds {
    position: absolute;
    top: 10px;
    height: 200px;
    width: 580px;
}

.cloud-first {
    left: 320px;
    top: 100px;
}

.cloud-second {
    left: 210px;
    top: 50px;
}

.cloud-third {
    left: 100px;
    top: 90px;
}

.cloud-fourth {
    left: 460px;
    top: 40px;
}

.cloud-fifth {
    left: 350px;
    top: 20px;
}

.cloud-sixth {
    left: 40px;
    top: 30px;
}