* {
    margin: 0;
}

.game-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
}

.game-menu--container {
    height: 700px;
    width: 580px;
    background: url('img/board.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
}

.game-menu {
    position: absolute;
    top: 150px;
    z-index: 1;
}

.game-menu--item {
    cursor: pointer;
    list-style: none;
    line-height: 1.4;
}

.game-menu--item:hover {
    font-weight: 800;
}

.truck {
    background: url('img/truck.png');
    width: 200px;
    height: 171px;
    position: absolute;
    bottom: 50px;
}

.game {
    height: 100vh;
    max-height: 700px;
    width: 580px;
    background: url('img/board-backround.png');
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    display: none;
}

.board {
    height: 560px;
    position: relative;
}

.character {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    left: 255px;
}

.character-right {
    background: url('img/ludzik-z-workiem-prawo.png');
    background-size: cover;
}

.character-left {
    background: url('img/ludzik-z-workiem-lewo.png');
    background-size: cover;
}

.cardboard-box {
    height: 20px;
    width: 20px;
    background: url('img/pixel-cardboard-box.png');
    background-size: cover;
    position: absolute;
    top: -25px;
}

.bomb {
    height: 25px;
    width: 25px;
    background: url("img/bomb.png");
    background-size: cover;
    position: absolute;
    top: -25px;
}

.plane {
    background: url('img/plane2.png');
    height: 40px;
    width: 55px;
    position: absolute;
    top: 5px;
    right: 0;
}

.cloud {
    background: url('img/cloud1.png');
    position: absolute;
    height: 53px;
    width: 100px;
}

.clouds {
    position: absolute;
    top: 10px;
    height: 200px;
    width: 580px;
}

.cloud-first {
    left: 320px;
    top: 100px;
}

.cloud-second {
    left: 210px;
    top: 50px;
}

.cloud-third {
    left: 100px;
    top: 90px;
}

.cloud-fourth {
    left: 460px;
    top: 40px;
}

.cloud-fifth {
    left: 350px;
    top: 20px;
}

.cloud-sixth {
    left: 40px;
    top: 30px;
}

.life-item {
    float: left;
    width: 25px;
    height: 25px;
    background: url("img/life.png");
    background-size: cover;
}

.game-over {
    display: none;
    font-family: 'VT323', monospace;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.try-again--button {
    font-size: 50px;
    text-align: center;
}

.try-again--button:hover {
    cursor:pointer;
    font-weight: 800;
}